<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pycodevar.liuyude.com</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>649DD69B-2207-40F4-9BF5-3AB1823CD885</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75CCA185-1E44-4A85-93C4-7281A3233172</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7805FBB9-003F-4F81-9880-8EBF89636BF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75CCA185-1E44-4A85-93C4-7281A3233172</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>957160D0-C23D-4109-8FB0-0F415A7DC175</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75CCA185-1E44-4A85-93C4-7281A3233172</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1EB2526-ADE0-4891-BB3C-7CEDB97FDAF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75CCA185-1E44-4A85-93C4-7281A3233172</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C88A0955-0F78-46F3-8A38-CC7411EC3348</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75CCA185-1E44-4A85-93C4-7281A3233172</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>by Daniel Lau</string>
	<key>description</key>
	<string>Variable Names</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PyCodeVar</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在转换，请稍等...</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'
export PATH="$HOME/.pyenv/shims:$HOME/.pyenv/bin:$PATH"

python3 xt.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入需要转换的中文变量名称</string>
				<key>title</key>
				<string>小驼峰命名法</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C88A0955-0F78-46F3-8A38-CC7411EC3348</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在转换，请稍等...</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'
export PATH="$HOME/.pyenv/shims:$HOME/.pyenv/bin:$PATH"

python3 dt.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入需要转换的中文变量名称</string>
				<key>title</key>
				<string>大驼峰命名法</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7805FBB9-003F-4F81-9880-8EBF89636BF1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在转换，请稍等...</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'
export PATH="$HOME/.pyenv/shims:$HOME/.pyenv/bin:$PATH"

python3 cl.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入需要转换的中文变量名称</string>
				<key>title</key>
				<string>常量命名法</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>649DD69B-2207-40F4-9BF5-3AB1823CD885</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>75CCA185-1E44-4A85-93C4-7281A3233172</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在转换，请稍等...</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'
export PATH="$HOME/.pyenv/shims:$HOME/.pyenv/bin:$PATH"

python3 xh.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入需要转换的中文变量名称</string>
				<key>title</key>
				<string>下划线命名法</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>957160D0-C23D-4109-8FB0-0F415A7DC175</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在转换，请稍等...</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'
export PATH="$HOME/.pyenv/shims:$HOME/.pyenv/bin:$PATH"

python3 zh.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入需要转换的中文变量名称</string>
				<key>title</key>
				<string>中划线命名法</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C1EB2526-ADE0-4891-BB3C-7CEDB97FDAF4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Variable Names</string>
	<key>uidata</key>
	<dict>
		<key>649DD69B-2207-40F4-9BF5-3AB1823CD885</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>75CCA185-1E44-4A85-93C4-7281A3233172</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>7805FBB9-003F-4F81-9880-8EBF89636BF1</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>957160D0-C23D-4109-8FB0-0F415A7DC175</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>C1EB2526-ADE0-4891-BB3C-7CEDB97FDAF4</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>C88A0955-0F78-46F3-8A38-CC7411EC3348</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>app_key</key>
		<string>0494065eddef86d0</string>
		<key>app_secret</key>
		<string>BVSP4LCulD6SjwnSpADDbpSuVO8p0rvq</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>app_key</string>
		<string>app_secret</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://liuyude.com</string>
</dict>
</plist>
